---
import Layout from '../layouts/Layout.astro';
import PanelBlanco from '../components/PanelBlanco.astro';


---

<Layout title="Welcome to Astro.">
    <h1 class="pt-4 pl-5 font-bold text-2xl text-white">Inicio </h1>
    <main class="min-h-screen w-full text-slate-600 ">
        <div class="grid md:grid-cols-2 sm:grid-cols-1 gap-4 mt-2 p-4 ">
            <!-- Sección 1 - Gráfica de Usuarios -->
            <PanelBlanco>
                <h1 class=" text-indigo-900 font-bold text-2xl">Bienvenida</h1>
            </PanelBlanco>
            <PanelBlanco>
                <h1 class=" text-indigo-900 font-bold text-2xl mb-3">Empresarios</h1>
                <img src="https://e-tribute-client-files.s3.amazonaws.com/public/home/graficas3.webp" alt="graficas3">
            </PanelBlanco>
            <PanelBlanco>
                <h1 class=" text-indigo-900 font-bold text-2xl mb-3">Clientes </h1>
                <img  src="https://e-tribute-client-files.s3.amazonaws.com/public/home/graficas1.webp" alt="graficas1">
            </PanelBlanco>
            <PanelBlanco>
                <h1 class="p text-indigo-900 font-bold text-2xl mb-3">Proveedores </h1>
                <img src="https://e-tribute-client-files.s3.amazonaws.com/public/home/graficas2.webp" alt="graficas2">
            </PanelBlanco>
        </div>
    </main>
</Layout>
