---
import LoginLayout from '../layouts/LoginLayout2.astro';
import Login from '../components/forms/Login'
import Boton from '../components//Boton.astro'
---

<LoginLayout title="eTribute login page">
	<Login client:load/>
	<div class="py-5">
		<Boton link="registro" texto="¿Aún no tienes cuenta? Regístrate"/>
  	</div>
</LoginLayout>
