---
import PanelBlanco from '../../../components/PanelBlanco.astro';
import Layout from '../../../layouts/Layout.astro';
import Reportes from  '../../../components/contribuyente/Reportes'

const cookie = Astro.cookies.get("Authorization")
---

<Layout title="Contabilidad contribuyente">
	
	<main class="min-h-screen w-full bg-sky-50  text-slate-600 pl-6 pt-4">
		<h1 class="pt-4 pl-5 text-indigo-900 font-bold text-2xl">Contabilidad </h1>
		<div class="grid grid-cols-1 gap-4 mt-2 p-4">
			
			<PanelBlanco >
                <Reportes client:only />
            </PanelBlanco>
		</div>
		<h1 class="fixed bottom-5 right-5">{cookie?.value} </h1>
	</main>
</Layout>