---
import Layout from '../../../layouts/Layout.astro';
import ViewDocs from "../../../components/ViewDocs";
---

<Layout title="SAT DOCS contribuyente">
	
	<main class="min-h-screen w-full bg-blue-950  text-slate-600 ">
			<ViewDocs client:only/>
	</main>
</Layout>
