---
const {link, texto} = Astro.props
---
<a href={link} class="py-4 cursor-pointer text-center w-full block font-normal text-sm rounded-md text-gray-500 hover:bg-gray-200 focus:outline-none focus:bg-gray-300 focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50 ring-inset">
    <span>{texto}</span>
</a>