<div class="bg-white p-4 rounded-md drop-shadow-lg ">
                
    <div class="chart-container p-4" style="position: relative; min-height:200px;">
        <!-- El canvas para la gráfica -->
        <slot/>
    </div>
</div>