---
import Point from "../images/svg/point.astro";
import MenuContribuyente from "./SelectContribuyente";
---
<div id="sidebar" class="w-60  h-screen mt-[3.25rem] z-10 rounded-none border-none transition-all duration-200 ease-in-out overflow-hidden max-md:bg-white max-sm:w-full" transition:animate="fade">
    <!-- Items -->
    <div class="pt-2 px-3 text-indigo-900 flex flex-col">
        <div class="grow">
            <MenuContribuyente client:only />
            <hr>
            <div class="whitespace-nowrap">
                <a href="/home" class="relative p-3 my-3 flex items-center space-x-3 justify-start rounded-lg group hover:bg-slate-200 min-w-48">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-smart-home stroke-gray-400" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M19 8.71l-5.333 -4.148a2.666 2.666 0 0 0 -3.274 0l-5.334 4.148a2.665 2.665 0 0 0 -1.029 2.105v7.2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-7.2c0 -.823 -.38 -1.6 -1.03 -2.105" />
                        <path d="M16 15c-2.21 1.333 -5.792 1.333 -8 0" />
                    </svg>
                    <span class="text-slate-700 text-sm font-bold">Inicio</span>
                </a>
            </div>

            <!-- Usuarios -->
            <div class="whitespace-nowrap">
                <a href="/dashboard" class="relative p-3 my-2 flex items-center space-x-3 justify-start rounded-lg group hover:bg-slate-200  min-w-48">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-layout-grid stroke-gray-400" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M4 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" />
                        <path d="M14 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" />
                        <path d="M4 14m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" />
                        <path d="M14 14m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" />
                    </svg>
                    <span class="text-slate-700 text-sm font-bold">Dashboard</span>
                </a>
            </div>

            
            <div class="whitespace-nowrap"> 
                <nav>
                    <ul class="space-y-2">
                        <li class="opcion-con-desplegable">
                            <div class="relative p-3 my-2 flex items-center space-x-3 justify-start rounded-lg group hover:text-indigo-300 hover:bg-slate-200 min-w-48">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user stroke-gray-400 hover:stroke-gray-600" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                                    <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                                </svg>
                                <span class="text-slate-700 text-sm font-bold">Mi cuenta</span>
                            </div>
                            <ul class="desplegable ml-4 hidden text-slate-700 text-sm font-bold">
                                <li>
                                    <a href="/mi-cuenta/registrar" class="relative p-3 my-2 flex items-center space-x-3 justify-start rounded-lg group hover:text-indigo-300 hover:bg-slate-200 min-w-48">
                                    <Point />
                                    Registrar RFC
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="relative p-3 my-2 flex items-center space-x-3 justify-start rounded-lg group hover:text-indigo-300 hover:bg-slate-200 min-w-48">
                                    <Point />
                                    Mi información
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="relative p-3 my-2 flex items-center space-x-3 justify-start rounded-lg group hover:text-indigo-300 hover:bg-slate-200 min-w-48">
                                    <Point />
                                    Configurarar cuenta
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>

            <!-- Transacciones -->
            <div class="whitespace-nowrap"> 
                <a href="/faqs" class="relative p-3 my-2 flex items-center space-x-3 justify-start rounded-lg group  hover:text-indigo-300 hover:bg-slate-200  min-w-48" >
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-question-mark stroke-gray-400" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M8 8a3.5 3 0 0 1 3.5 -3h1a3.5 3 0 0 1 3.5 3a3 3 0 0 1 -2 3a3 4 0 0 0 -2 4" />
                        <path d="M12 19l0 .01" />
                    </svg>
                    <span class="text-slate-700 text-sm font-bold">F.A.Q</span>
                </a>
            </div>
            <!-- Contacto -->
            <div class="whitespace-nowrap"> 
                <a href="/faqs" class="relative p-3 my-2 flex items-center space-x-3 justify-start rounded-lg group  hover:text-indigo-300 hover:bg-slate-200  min-w-48" >
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail stroke-gray-400" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" />
                        <path d="M3 7l9 6l9 -6" />
                      </svg>
                    <span class="text-slate-700 text-sm font-bold">Contacto</span>
                </a>
            </div>
        </div>
        <!-- Cerrar sesión -->
        <div class="h-32 ">
            <div class="whitespace-nowrap"> 
                <a href="/api/auth/signout">
                    <button class="relative p-3 my-2 flex items-center space-x-3 justify-start rounded-lg group  hover:text-indigo-300 hover:bg-slate-200  min-w-48" >
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                            <path d="M9 12h12l-3 -3" />
                            <path d="M18 15l3 -3" />
                        </svg>
                        <span class="text-slate-700 text-sm font-bold">Cerrar Sesión</span>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
    


<script is:inline>
    //document.addEventListener('astro:page-load', () => {
            // Obtener todas las opciones principales con desplegables
        const opcionesConDesplegable = document.querySelectorAll(".opcion-con-desplegable");

        // Agregar evento de clic a cada opción principal
        opcionesConDesplegable.forEach(function (opcion) {
            
            opcion.addEventListener("click", function () {
            // Obtener el desplegable asociado a la opción
            const desplegable = opcion.querySelector(".desplegable");

            // Alternar la clase "hidden" para mostrar u ocultar el desplegable
            desplegable.classList.toggle("hidden");
            });
        });
   // });
</script>