---
import PanelBlanco from '../../components/PanelBlanco.astro';
import Layout from '../../layouts/Layout.astro';
import RfcForm from '../../components/forms/RfcForm'
import TablaRfc from '../../components/TablaRfc'
import PanelTabla from '../../components/PanelTabla.astro';

const cookie = Astro.cookies.get("Authorization")
---

<Layout title="Registrar contribuyente">
    <main class="min-h-screen w-full bg-[#0d5898]">
        <div class="sm:grid-cols-1 gap-4 mt-2 p-4 ">
            <h1 class="pt-4 pl-5 text-blue-50 font-bold text-2xl">Registrar contribuyente </h1>  
            <div class="grid md:grid-cols-2 sm:grid-cols-1 gap-4 mt-2 p-4 ">
                <PanelBlanco>                
                    <RfcForm client:only />
                </PanelBlanco>
                <PanelTabla>
                    <TablaRfc client:only/>
                </PanelTabla>
                
            </div>
        </div>
        <h1 class="fixed bottom-5 right-5">{cookie?.value} </h1>
    </main>
	
</Layout>