---
import MainHeader from '../components/MainHeader.astro';
import Panel from '../components/Panel.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<MainHeader />
		<div class="flex flex-col">

			<Panel />
			<!-- Contenedor gris al lado de la barra lateral -->
			<div id="mainContainer" class="pl-20 sm:pl-24 md:pl-64 pt-14 absolute w-full transition-all duration-200 ease-in-out bg-sky-50">
				<slot/>
			</div>
		</div>
	</body>
</html>
