---
import MainHeader from '../components/MainHeader';
import Panel from '../components/Panel.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="https://e-tribute-client-files.s3.amazonaws.com/public/home/favicon.jpeg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<MainHeader client:only/>
		<div class="flex flex-col">

			<Panel />
			<!-- Contenedor gris al lado de la barra lateral -->
			<div id="mainContainer" class="sm:pl-24 md:pl-60 pt-10 absolute w-full bg-[#062237]">
				<slot/>
			</div>
		</div>
	</body>
</html>
