---
interface Props {
  title: string;
}

const { title } = Astro.props;
import { ViewTransitions } from 'astro:transitions';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="https://e-tribute-client-files.s3.amazonaws.com/public/home/favicon.jpeg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="referrer" content="strict-origin-when-cross-origin">
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="bg-gray-100">
    <div class="flex items-center h-screen">
      <!-- Left: Image -->
      <div class="w-1/2 h-screen hidden flex-1 lg:block bg-[url('/src/images/login.avif')] bg-bottom pt-24 px-24 text-white bg-blue-100 border-dotted">
        <h1 class="font-bold text-5xl text-balance">Datos financieros confiables de tu negocio</h1>
        <div class="blur-sm">
          <h2 class="text-1xl mt-8 bg-blend-darken">Desde el acceso a datos sin procesar hasta la obtención de insights obtenidos del enriquecimiento de los mismos, con Satws tienes acceso directo a la información del SAT para tomar decisiones de negocio más rápidas y fiables.</h2>
        </div>
      </div>
      <!-- Right: Login Form -->
      <div class="sm:p-20 p-8 w-full flex-1 lg:w-1/2 ">
        
        <h1 class="font-bold text-center text-5xl mb-5 text-[#062237]">eTribute</h1>
        <h1 class="font-bold text-center text-2xl mb-5 text-[#0d5898]">Una solución a tus impuestos</h1>

            <div class=" w-full rounded-lg divide-y divide-gray-200">
              <div class="px-5 py-3">
                <slot />
              </div>
              <div class="py-2">
                <div class="grid grid-cols-2 gap-1">
                  <div class="text-center sm:text-left whitespace-nowrap">
                    <button class="transition duration-200 mx-5 px-5 py-4 cursor-pointer font-normal text-sm rounded-lg text-gray-500 hover:bg-gray-200 focus:outline-none focus:bg-gray-200 focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50 ring-inset">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                        class="w-4 h-4 inline-block align-text-top"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M8 11V7a4 4 0 118 0m-4 8v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2z"
                        ></path>
                      </svg>
                      <span class="inline-block ml-1">Recuperar contraseña</span>
                    </button>
                  </div>
                  <div class="text-center sm:text-right whitespace-nowrap">
                    <button
                      class="transition duration-200 mx-5 px-5 py-4 cursor-pointer font-normal text-sm rounded-lg text-gray-500 hover:bg-gray-200 focus:outline-none focus:bg-gray-200 focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50 ring-inset"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                        class="w-4 h-4 inline-block align-text-bottom"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M18.364 5.636l-3.536 3.536m0 5.656l3.536 3.536M9.172 9.172L5.636 5.636m3.536 9.192l-3.536 3.536M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-5 0a4 4 0 11-8 0 4 4 0 018 0z"
                        ></path>
                      </svg>
                      <a href="faqs" class="inline-block ml-1">F.A.Q.s</a>
                    </button>
                  </div>
                </div>
                <div class="grid grid-cols-1"></div>
                  <div class="text-center whitespace-nowrap mt-24">
                    <button class="transition duration-200 mx-5 px-5 py-4 cursor-pointer font-normal text-sm rounded-lg text-gray-500 hover:bg-gray-200 focus:outline-none focus:bg-gray-200 focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50 ring-inset">
                      <a href="/contacto" class="inline-block ml-1">Tienes dudas? Contactanos</a>
                    </button>
                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>
  </body>
</html>
